.header {
  display: inline-flex;
  justify-content: space-between;
  gap: 100px;
}

.nav {
  padding-right: 50px;
  padding-top: 33px;
  width: 17px;
  padding-left: 60px;
}

.intro {
  background-image: url(./images/Backgroung.png);
  height: 772px;
  margin: 0 8px;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: contain;
}

.sd {
  color: green;
  font-size: 40px;
  padding-right: 20px;
  font-family: 'Inter', sans-serif !important;
  width: 327px;
  text-align: center;
}

.h2 {
  width: 130px;
  height: 30px;
  padding-top: 14px;
  font-family: 'Inter', sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
  padding-left: 24px;
}

.prg {
  width: 327px;
  height: 164px;
  left: 24px;
  top: 314px;
  font-family: 'Inter', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding-top: 20px;
}

ul.icon-list {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  padding-left: 75px;
}

.dis {
  position: absolute;
  left: 43%;
  right: 25%;
  padding-top: 25%;
  padding-bottom: 37.5%;
}

.h1 {
  padding-top: 29px;
  font-size: 40px;
  width: 287px;
  text-align: center;
  font-family: 'inter', sans-serif !important;
  padding-left: 12px;
}
.bg2
{
padding: 17px 28px;
}
.p4{
  padding-top: 80px;
  font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700px;
letter-spacing: 0em;
text-align: center;
font-family: sans-serif;
}
.img5
{
  position: absolute;
  padding-top: 10px 10px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.placeholder1
{
  background: #EBF0EE;
border: 1px solid #D0D9D4;
border-radius: 8px;
margin-top: 95px;
position: absolute;
border-radius: 8px;
top: 959px;
size: 100px;
}

.card-1
{
  width: 350px;
  align-items: center;
  height: 500px;
  align-items: center;

}
.card-list
{
  width: 327px;
  height: 240px;
}

.stories {
width: 295px;
height: 57px;
padding-left: 16px;
padding-top: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;
color: #3A4A42;
margin: 16px 0px;
}

.tech-list {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
height: auto;
flex-grow: 0;

}

ul.card-item {
list-style: none;

}
.holder ul {
  list-style: none;
  justify-content: left;
  text-align: center;
}

.holder ul li {
  background: #EBF0EE;
  min-width: 75px;
  align-items: center;
  border-radius: 8px;
  height: 32px;
  justify-content: center;
  padding-top: 10px;
  font-size: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 16px
}

.button button {
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
width: 122px;
height: 48px;
left: calc(50% - 122px/2 + 0.5px);
bottom: 8px;
justify-content: center;
color: #fff;
background: #36B37F;
border-radius: 4px;
align-items: center;
position: absolute;
}

.button {
  justify-content: center;
  align-items: center;
  margin: 19px 100px;
}
.holder {
  background-color: rgb(126, 121, 121);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: px;
  height: 222px;
  left: calc(50% - 327px/2);
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
  top: 145px;
}

.placeholder {
  background-color: rgb(126, 121, 121);
  height: 260px;
  padding: 10px;
  position: relative;
  background: #EBF0EE;
  border-radius: 8px;
}
          
.items ul {
  display: flex;
 justify-content: center;
 margin: 3px;
 padding: 1px 9px;
}

.items ul li {
background-color: #EBF0EE;
list-style: none;
margin: 3px;
padding: 5px;
}

.card-lists {
margin: 0px;
background-color: #FFFFFF;
padding: 1px;
padding-left: 10px 5px;
border-radius: 8px;
}

.card-lists h3 {
text-align: center;
font-size: 30px;

}
.button-cont {
  align-items: center;
  margin: 20px 100px;
  

}
.button-cont button {
  color: #FFFFFF;
  padding: 13px;
  background-color: #36B37F;
 border: 0ch;
 justify-content: center;
 font-size: 17px;
 border-radius: 8px;

}
.container-card {
  border: 1px solid  #D0D9D4;
margin: 20px;
border-radius: 8px;
}
.card-sections h1 {
  font-size: 50px;
text-align: center;
color: #172B4D;
}
.indicator {
text-align: center;
}

.card-sections {
  height: 959px;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-top: -345px;
  border-radius: 8px;
}
.pic3 {
  text-align: end;
  margin: -3%;
  padding-right: 2px;
  position: relative;
}

.about-me h1 {
  text-align: center;
  margin-top: -56px;
color: #172B4D;
display: flex;
padding-left: 60px;
}

.about-me p {
width: 351px;
height: 189px;
left: 0px;
top: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #42526E;
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}

.bot-img {
  margin-left: -9px;
}

.bot-container {
  display: flex;
}

.botton-con button{
  color: #FFFFFF;
  padding: 13px;
  background-color: #36B37F;
 border: 0ch;
 justify-content: center;
 font-size: 17px;
 border-radius: 8px;
}

.botton-con {
  justify-content: center;
  padding-left: 55px;
}

.resume {
  background: #EBF0EE;
border: 1px solid #C1C7D0;
border-radius: 8px;
box-sizing: border-box;
margin: 20px;
}

.language-img {
  left: calc(50% - 80px/2 + 0.5px);
top: calc(50% - 80px/2);
padding-left: 90px;
margin-top: 90px;
color: #344563;
}

.resume p {
  width: 337px;
height: 32px;
margin-left: -12px;
padding-top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 32px;
text-align: center;
color: #344563;
flex: none;
order: 0;
flex-grow: 0;
margin-top: 15px;
}

.resume-con ul {
  display: flex;
 justify-content: center;
 margin: 3px;
 padding: 1px 9px;
 color: #36B37E;;
}

.resume-con ul li {
  background-color: #ffff;
  list-style: none;
  margin: 3px;
  padding: 5px;
  margin-top: 1px;
  margin-bottom: 50px;
}
.resume-con1 {
  margin-top: -40px;
}
.details {
  margin: 20px;
  margin-top: 10px;
}
.details p {
  width: 327px;
height: 363px;
font-family: 'Inter';
font-style: normal;
font-size: 40px;
line-height: 52px;
text-align: center;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 0px;
}

.details input {
  margin: 10px;
  padding: 10px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  background: #FFFFFF;
  border: 1px solid #D0D9D4;
  box-sizing: border-box;
  border-radius: 4px;
}
.text {
  width: 304px;
  background: #FFFFFF;
 height: 100px;
  border-radius: 4px;
  padding: 20px;
  margin: 7px;
  border: 1px solid #60C095;
  box-sizing: border-box;
}

.last-button {
 text-align: center;
}
.last-button button {
  color: #FFFFFF;
  padding: 13px;
  background-color: #36B37F;
 border: 0ch;
 justify-content: center;
 font-size: 17px;
 border-radius: 8px;
 margin: 20px 0px;
}

.last-image {
  margin: -79px 33px;
  position: absolute;
}
 
.lp {
  width: 375px;
height: 189px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #42526E;
}